In [15]:
import pandas as pd
import math

In [3]:
popdens = pd.read_csv("../tz_popdens_sample.csv")
popdens.head(5)

   population_count  latitude  longitude
0           3.48218 -6.022005  35.719076
1           3.48218 -6.022005  35.722132
2           3.48218 -6.022005  35.722409
3           3.48218 -6.022005  35.733520
4           3.48218 -6.022005  35.744354

In [14]:
poplat = float(popdens['latitude'][0])*100000
poplng = float(popdens["longitude"][0])*100000
poplat, poplng

(-602200.463034, 3571907.5958120003)

In [6]:
coi = pd.read_csv("../coi.csv")
coi.head(5)

   Latitude  Longitude
0 -6.271618  35.597152
1 -6.271618  35.597157
2 -6.271618  35.597162
3 -6.271618  35.597168
4 -6.271618  35.597173

In [ ]:
min_dist = 0
for index, row in coi.iterrows():
    lat = float(row["Latitude"]) * 100000
    lng = float(row["Longitude"]) * 100000
    min_dist = (math.sqrt((lat-poplat)**2 + (lng-poplng)**2),min_dist)
min_dist